<h1><%= @lot.name %></h1>

<%= link_to "Create Bag", "/lots/#{@lot.id}/bags/new", class:"btn btn-success"%>

<%= form_with url: "/lots/#{@lot.id}/bags?sort=length", method: :get, local: true do |form| %>
<%= form.submit "Search By Bag Size" %>
<%= form.number_field :size %>
<% end %>

<%= link_to "Sort by Name", "/lots/#{@lot.id}/bags?sort=name", class:"btn btn-info btn-xs p-0"%><br>

<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Ground?</th>
    <th>Size</th>
    <th>ID</th>
    <th>Date Created</th>
    <th>Date Updated</th>
  </tr>
</thead>
<tbody>

  <% @bags.each do |bag| %>
    <tr id="bag-<%= bag.id %>">
      <td><%= link_to "#{bag.name}", "/bags/#{bag.id}" %></td>
      <td><%= bag.ground %></td>
      <td><%= bag.size %></td>
      <td><%= bag.id %></td>
      <td><%= bag.created_at %></td>
      <td><%= bag.updated_at %></td>
      <td><%= link_to "Update Bag", "/bags/#{bag.id}/edit" %></td>
      <td><%= link_to "Delete Bag" , "/bags/#{bag.id}" , method: :delete%></td>
    </tr>
  <% end %>
</tbody>
</table>