<h1>All Bags</h1>

<% @bags.each do |bag| %>
  <a href="/bags/<%= bag.id %>">
    <%= bag.roast %></a>
  <%= bag.ground %>
  <%= bag.size %>
  <%= bag.id %>
  <%= bag.created_at %>
  <%= bag.updated_at %>
  <a href="/bags/<%= bag.id %>/edit">Update Bag</a>
  <%= link_to "Delete Bag" , "/bags/#{bag.id}" , method: :delete%>
  <br>
<% end %>