<h1>All Bags</h1>

<% @bags.each do |bag| %>
  <%= link_to "#{bag.roast}", "/bags/#{bag.id}" %>
  <%= bag.ground %>
  <%= bag.size %>
  <%= bag.id %>
  <%= bag.created_at %>
  <%= bag.updated_at %>
  <%= link_to "Update Bag", "/bags/#{bag.id}/edit" %>
  <%= link_to "Delete Bag" , "/bags/#{bag.id}" , method: :delete%>
  <br>
<% end %>