<h1>Make a new bag of
  <%= @lot.name %></h1>

<%= form_with url: "/lots/#{@lot.id}/bags/new", method: :post, local: true do |form| %>
<%= form.label :roast %>
<%= form.text_field :roast %><br>
<%= form.label :size %>
<%= form.text_field :size %><br>
<%= form.label :ground %>
<%= form.check_box :ground %><br>
<%= form.submit("Create Bag") %>
<% end %>