<h1><%= @bag.roast %></h1>
<p>Ground:
  <%= @bag.ground %></p>
<p>Bag Size:
  <%= @bag.size %></p>
<p>Bag ID:
  <%= @bag.id %></p>
<p>Created:
  <%= @bag.created_at %></p>
<p>Updated:
  <%= @bag.updated_at %></p>

<a href="/bags/<%= @bag.id %>/edit">Update Bag</a>
<p><%= link_to "Delete Bag" , "/bags/#{@bag.id}" , method: :delete%></p>