<h1>All Lots</h1>

<a class="btn btn-success" href="/lots/new" role="button">New Lot</a>

<% @lots.each do |lot| %>
  <h3>
    <a href="/lots/<%= lot.id %>"><%= lot.name %></a>
    <%= lot.created_at %>
  </h3>
  <p>
    <a href="/lots/<%= lot.id %>/edit">Edit</a>
  </p>
  <p><%= link_to "Delete Lot" , "/lots/#{lot.id}" , method: :delete%></p>
<% end %>