<h1>All Lots</h1>

<% @lots.each do |lot| %>
  <h3>
    <a href="/lots/<%= lot.id %>"><%= lot.name %></a>
  </h3>
  <p><%= lot.importer %></p>
  <p>
    <a href="/lots/<%= lot.id %>/edit">Edit</a>
  </p>
  <p><%= link_to "Delete" , "/lots/#{lot.id}" , method: :delete%></p>
<% end %>