<h1><%= @lot.name %></h1>
<p>Lot Number:
  <%= @lot.lot_number %></p>
<p>Importer:
  <%= @lot.importer %></p>
<p>Organic:
  <%= @lot.organic %></p>
<p>Number of Bags from this lot:
  <%= @lot.bag_count %></p>
<p>ID:
  <%= @lot.id %></p>
<p>Created:
  <%= @lot.created_at %></p>
<p>Updated:
  <%= @lot.updated_at %></p>

<%= link_to "Update Lot", "/lots/#{@lot.id}/edit", class: "btn btn-warning btn-xs p-0" %><br>
<%= link_to "Bags made from this lot", "/lots/#{@lot.id}/bags", class: "btn btn-info btn-xs p-0" %><br>
<%= link_to "Delete Lot" , "/lots/#{@lot.id}" , method: :delete, class: "btn btn-danger btn-xs p-0"%>