<h1><%= @lot.name %></h1>

<a class="btn btn-success" href="/lots/<%= @lot.id %>/bags/new" role="button">Create Bag</a><br>

<% @bags.each do |bag| %>
  Roast:
  <%= bag.roast %>
  Ground:
  <%= bag.ground %>
  Bag Date:
  <%= bag.created_at %>
  <br>
<% end %>